<nb-layout  [windowMode]="true">
  
  <nb-progress-bar [value]="50"></nb-progress-bar>
  <nb-layout-header fixed>
  <div class="d-flex flex-row navbar-collapse ">
    <nb-icon icon="menu" class="ripple" [ngClass]="iconState ? 'rotate':'' "  (click)="toggle()" status="primary" ></nb-icon>
    <h4>Chatting Bot</h4>
  </div>
  <div class="navbar-nav d-flex flex-row  justify-content-between">
      
      
  </div>  
  </nb-layout-header>

  <nb-sidebar responsive tag='left' *ngIf= "chatbotService.isUserLoggedIn()">
      
      <div  class="card lazyComponenet">
          <h6 class="card-header text-capitalize text-danger">
                  Wellcome {{ chatbotService.getLoggedInUser() }}
                  <p class="card-text"><button *ngIf= "chatbotService.isUserLoggedIn()"  type="butoon" 
                    class= "btn btn-danger " (click)="logoutUser()"  >Logout</button></p>
          </h6>

            <div class="mainDiv" >
                <button type="button" *ngIf= "chatbotService.isUserLoggedIn()" class="btn btn-success" [routerLink]="['/chat']" (click)= "chatToggle()">Chat Bot</button>
            </div>  
            <button type="button" class="btn btn-success "  *ngIf= "chatbotService.isUserLoggedIn()"
                    [routerLink]="['/loadcomponent']" (click)="clearMessage()">Lazy Component
            </button>
      </div>

    
   <!--
    <div class="mainDiv">
      <a [routerLink]="['/loadcomponent']" (click)="clearMessage()">lazy component</a>
    </div>
   -->

    <div *ngIf="selectName" class="card lazyComponenet">
      <h6 class="card-header">You Selected</h6>
      <p class="card-text">{{selectName}}</p>
    </div>
  </nb-sidebar>
  
  <nb-layout-column >
    <div style="margin: 0 auto; width:90%">
          <router-outlet ></router-outlet>
    </div>
  </nb-layout-column>
    

  <nb-layout-footer fixed>
      Version 1.0
  </nb-layout-footer>

</nb-layout>
