<nb-layout  [windowMode]="true">
  
  <nb-layout-header   fixed>
      <nb-icon icon="menu" (click)="toggle()" status="primary" ></nb-icon>
    <h4>Chatting Bot</h4>
  </nb-layout-header>
  <nb-sidebar responsive tag='left'>  
    <div class="mainDiv" *ngIf="!chatColumn"><a (click)= "chatToggle()">Chat Bot</a></div>  
        
    <div class="mainDiv">
      <a [routerLink]="['/loadcomponent']" (click)="clearMessage()">lazy component</a>
    </div>
    <div *ngIf="selectName">
      <h6>You selected</h6>
      <p >{{selectName}}</p>
    </div>
  </nb-sidebar>
    <nb-layout-column *ngIf="chatColumn" >
    <nb-chat title="Conversation with a Bot" size="large">
      <nb-chat-message *ngFor="let msg of messages"
                       type="text"
                       [message]="msg.text"
                       [reply]="msg.reply"
                       [sender]="msg.sender"
                       [date]="msg.date"
                       >
  </nb-chat-message>
  
    <nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info"
    type="text"
    message="...">
    
    </nb-chat-message>

    <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="true">
    </nb-chat-form>

</nb-chat>
</nb-layout-column>
<nb-layout-column *ngIf="boolComponent">
    <router-outlet></router-outlet>
</nb-layout-column>

  <nb-layout-footer fixed>
      
  </nb-layout-footer>

</nb-layout>
