.container{
    overflow: scroll;
}
.welcome{
    letter-spacing: 1px;
}
nb-icon{
    cursor: pointer;
    font-size: 3rem;
    margin-right: 1em;
    transition-duration: 350ms;
    transition-property: transform;
}
.rotate{
    
    transform: rotate(-45deg);
}
.mainDiv{
    padding: 0 0 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}
.mainDiv a{
    text-decoration: none;
    letter-spacing: 1px;
    padding: .5rem;
    background-color: springgreen;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.btn-logout{
    margin-top: 1rem;
}
.lazyComponenet h6{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
.lazyComponenet p{
    text-transform: capitalize;
    margin-top: .5em;
    padding: .5rem;
    font-size: 1rem;
    word-break: break-word;
    font-weight: 600;
    opacity: .9;
}
.lazyComponenet {
    margin-top: 1em;
    box-shadow: 1px 1px 3px 1px black;
    padding: .5rem;
    font-size: 1.2rem;
    text-align: left;
    word-spacing: 1px;
    font-weight: 500;
    line-height: 1em;
}
nb-layout-column{
    margin: 0 !important;
    padding: 0 !important;
}

#carouselExampleIndicators{
    height: 50vh;
}
 