.image{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.footerContainer{
    display: flex;
    width: 100%;
    align-items: center;
}
h6{
    margin: 0;
    width: 100%;
}
#spinner {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
  }