<nb-card [size]="cardSize" status="info" >
        <nb-card-header> {{i.id}}  {{i.name}}</nb-card-header>
         <nb-card-body>
                <div class="d-flex justify-content-center" *ngIf="loading">
                        <div id="spinner" class="spinner-border text-success" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                </div>
                <img [hidden]="loading" (load)="onLoad()" [src]="i.imageUrl" class="image" alt="loading">
            </nb-card-body>
     
        <nb-card-footer>
            <div class="footerContainer">
                <h6> Price {{i.price | currency: i.priceCurrency}} </h6>
                <button nbButton (click)="selectData(i.name)" ><nb-icon icon="star"></nb-icon>Select</button>
            </div>
        </nb-card-footer>
</nb-card>
